@font-face {
  font-family: "Cairo";
  src: local("Cairo"), url(../fonts/Cairo-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Almarai";
  src: local("Almarai"), url(../fonts/Almarai-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Cairo-semi";
  font-weight: 500;
  font-display: swap;
  src: local("Cairo"), url(../fonts/Cairo-Bold.ttf) format("truetype");
}
